.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

@media screen and (max-width: 1199px) {
    .wrapper {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        max-width: 320px;
    }
}