.profile__addButton {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    background-image: url(../../../images/Add-Button.png);
    border: 0;
    background-color: black;
    box-shadow: none;
    margin-left: auto;
    cursor: pointer;
}

.profile__addButton:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1199px) {
    .profile__addButton {
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .profile__addButton {
        width: 282px;
        height: 50px;
        margin-left: 19px;
        margin-right: 19px;
        margin-top: 36px;
        background-image: url(../../../images/Add-Button-big.png);
    }
}